#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  background: white;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  width: clamp(800px, 900px, 900px);
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 35px;
  gap: 15px;
}

form > * {
  width: 100%;
}

.clear-button {
  background-color: transparent;
  border: none;
  color: gray;
  text-decoration: underline;
  font-weight: 600;
}

.clear-button:hover {
  color: rgb(49, 48, 48);
  font-weight: 700;
}

button {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

input[type='number'] {
  font-size: 1.3rem;
  padding-block: 8px;
  font-weight: 600;
}

h1 {
  margin: 0px;
  font-size: 1.4rem;
}

.label-on-top {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
  gap: 4%;
  width: 100%;
}

.flex-horizontal > * {
  width: 48%;
}

.title-and-button {
  display: flex;
  justify-content: space-between;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mortgage-type {
  border: solid black 2px;
  width: 100%;
  border-radius: 5px;
  padding-block: 7px;
  gap: 10px;
  cursor: pointer;
}

.mortgage-type:hover {
  border: solid var(--lime-500) 2px;
}

.mortgage-type[data-selected='true'] {
  background-color: var(--lime-100);
  accent-color: var(--lime-500);
  border: solid var(--lime-500) 2px;
}

.submit-button {
  background-color: var(--lime-500);
  font-size: 1.3rem;
  border: none;
  border-radius: 50px;
  padding: 8px;
  padding-inline: 20px;
  width: fit-content;
}

.output-container {
  background-color: var(--secondary-900);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 35px;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 70px;
  width: 100%;
  flex-grow: 1;
  color: var(--white);
}

h3 {
  font-size: 0.9rem;
}

.monthly-repayment {
  color: var(--lime-500);
  font-weight: 800;
  font-size: 2.5rem;
}

.total-repayment {
  color: var(--white);
  font-weight: 800;
  font-size: 1.5rem;
}

.incomplete-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
