#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  background: white;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  width: clamp(800px, 900px, 900px);
  text-align: left;
}

@media (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

.output-container {
  background-color: var(--secondary-900);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 35px;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 70px;
  flex-grow: 1;
  color: var(--white);
}

h3 {
  font-size: 0.9rem;
}

.monthly-repayment {
  color: var(--lime-500);
  font-weight: 800;
  font-size: 2.5rem;
}

.total-repayment {
  color: var(--white);
  font-weight: 800;
  font-size: 1.5rem;
}

.incomplete-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
