form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 35px;
  gap: 15px;
}

form > * {
  width: 100%;
}

.front-unit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background-color: var(--secondary-100);
  width: 60px;
  border: solid var(--secondary-700) 2px;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.back-unit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background-color: var(--secondary-100);
  width: 60px;
  border: solid var(--secondary-700) 2px;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#years-unit {
  width: 100px;
}

.clear-button {
  background-color: transparent;
  border: none;
  color: gray;
  text-decoration: underline;
  font-weight: 600;
}

.clear-button:hover {
  color: rgb(49, 48, 48);
  font-weight: 700;
}

button {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

h1 {
  margin: 0px;
  font-size: 1.4rem;
}

.label-on-top {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
  gap: 4%;
  width: 100%;
}

.flex-horizontal > *:first-child {
  width: 60%;
}

.flex-horizontal > *:last-child {
  width: 40%;
}

.title-and-button {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  background-color: var(--lime-500);
  font-size: 1.3rem;
  border: none;
  border-radius: 50px;
  padding: 8px;
  padding-inline: 20px;
  width: fit-content;
}

.submit-button:hover {
  background-color: var(--lime-100);
}
