:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light ; */
  background-color: var(--secondary-100);
  color: var(--secondary-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: hsl(0, 0%, 100%);
  --secondary-100: hsl(202, 86%, 94%);
  --secondary-300: hsl(203, 41%, 72%);
  --secondary-500: hsl(200, 26%, 54%);
  --secondary-700: hsl(200, 24%, 40%);
  --secondary-900: hsl(202, 55%, 16%);

  --lime-100: hsl(61, 70%, 80%);
  --lime-500: hsl(61, 70%, 52%);
  --red-600: hsl(4, 69%, 50%);
}
